@model TypsProjektStatusOsobaViewModel

<style>
    input {
        margin: 0;
    }
</style>
<h1>Dane projektu</h1>
<div class="working-window">
    <div class="working-window_1">
        <table class="highlight striped">
            <tr>
                @foreach(var p in Model.ProjektORs)
                {
                    <td>Id: @p.Id</td>
                    <td>Numer Projektu: @p.NumerProjektu</td>                   
                    <td>  
                            @*@{string p1 = new Model.osobaPracas} -- TU POPRAWIAĆ
                            @foreach (var p2 in Model.osobaPracas)
                            {
                                if (p.OsobaProwadzaca == p2.id)
                                {
                                    @p2.Imie
                                }
                                @p2.Email
                                if (p.OsobaZatwierdzajaca == p2.id)
                                {
                                    @p2.Imie
                                }
                            }*@
                    </td>                    
                    
                }
                
            </tr>
        </table>      
        <div class="card-action">
            <a href="/Projektor/PokazProjekty">Cofnij</a>
        </div>

    </div>
    
</div>