@model List<DetailsProjektViewModel>

<style>
    input {
        margin: 0;
    }
</style>
<h1>Dane projektu</h1>

         

        <table>
            
            <tbody>
                <tr>
                    
                    @foreach (var p in Model)
                    {

                        <td>Id: @p.Identyfikator</td>
                        <td>NumerProjektu: @p.NrProjektu</td>
                        <td>Rok: @p.Rok</td>
                       <td>Typ: @p.Typ</td>
                        @*<td>Osoba Prowadząca: @p.OsobaPracaProwadzaca.Imie @p.OsobaPracaProwadzaca.Nazwisko</td>*@
                        @*<td>Osoba Zatwierdzająca: @p.OsobaPracaZatwierdzajaca.Imie @p.OsobaPracaZatwierdzajaca.Nazwisko</td>*@
                        <td></td>

                    }

                </tr>
                <tr>
                    <td>
                        <a href="/Projektor/PokazProjekty" class="button" style="background-color: indianred">Cofnij</a>
                    </td>
                </tr>
            </tbody>
            
        </table>      
        
