@model List<DetailsProjektViewModel>

<style>
    input {
        margin: 0;
    }
</style>
<h1>Dane projektu</h1>

         

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cały Numer</th>                    
                    <th>Typ</th>
                    <th>Prowadzący</th>
                    <th>Email Prowadzącego</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    @foreach (var p in Model)
                    {

                        <td>@p.Identyfikator</td>
                        <td>@p.NrProjektu-@p.Rok</td>                        
                        <td>@p.Typ</td>
                        <td>@p.OsobaProwImie @p.OsobaProwNazw</td>
                        <td>@p.EmailProwadzacego</td>
                        @*<td>Osoba Prowadząca: @p.OsobaPracaProwadzaca.Imie @p.OsobaPracaProwadzaca.Nazwisko</td>*@
                        @*<td>Osoba Zatwierdzająca: @p.OsobaPracaZatwierdzajaca.Imie @p.OsobaPracaZatwierdzajaca.Nazwisko</td>*@
                        <td></td>

                    }

                </tr>
                <tr>
                    <td>
                        <a href="/Projektor/PokazProjekty" class="button" style="background-color: indianred">Cofnij</a>
                    </td>
                </tr>
            </tbody>
            
        </table>      
        
