@model EditProjekt

<style>
    span {
        color: #1b00ff;
    }
</style>


<h1>Edytuj projekt organizacji ruchu</h1>
<form method="post">

    <div class="input-field col s6">
        <label for="NumerProjektu">Nr projektu</label>
        <input asp-for="NumerProjektu" type="text" class="validate">
        <span asp-validation-for="NumerProjektu"></span>
    </div>

    <div class="input-field col s6">
        <label for="Rok">Rok</label>
        <input asp-for="Rok" type="text" class="validate">
        <span asp-validation-for="Rok"></span>
    </div>

    <div class="input-field col s6">
        <label for="DataWplywu">Data Wpływu</label>
        <input asp-for="DataWplywu" type="date" class="validate">
        <span asp-validation-for="DataWplywu"></span>
    </div>

    <div class="input-field col s6">
        <label for="ProjektORs.Uwagi">Uwagi</label>
        <input asp-for="Uwagi" type="text" class="validate">
        <span asp-validation-for="Uwagi"></span>
    </div>

    @* LISTY*@
    
    <div class="input-field col s6">
        <label for="Typ">Typ</label>
        <div>
            <select asp-for="@Model.TypId" asp-items="@Model.Typ" class="validate"></select>
        </div>
        <span asp-validation-for="@Model.TypId"></span>
    </div>


    <div class="input-field col s6">
        <label for="OsobaProwadzaca">Osoba Prowadząca</label>
        <div>
            <select asp-for="@Model.OsobaProwadzacaId" asp-items="@Model.OsobaProwadzaca" class="validate"></select>
        </div>
        <span asp-validation-for="@Model.OsobaProwadzacaId"></span>
    </div>
   
    <div class="input-field col s6">
        <label for="Status">Status</label>
        <div>
            <select asp-for="@Model.StatusId" asp-items="@Model.Status" class="validate"></select>
        </div>
        <span asp-validation-for="@Model.StatusId"></span>
    </div>

    <div class="input-field col s6">
        <label for="OsobaZatwierdzajaca">Osoba Zatwierdzająca</label>
        <div>
            <select asp-for="@Model.OsobaZatwierdzajacaId" asp-items="@Model.OsobaZatwierdzajaca" class="validate"></select>
        </div>
        <span asp-validation-for="@Model.OsobaProwadzacaId"></span>
    </div>

    <div class="working-window_1">
        <button type="submit">Zapisz</button>
        <a href="/Projektor/PokazProjekty" style="background-color: indianred">Wróć</a>
    </div>

</form>
