@model EditPracownik

<h1>Edytuj Pracownika</h1>




<form method="post">

    <div class="input-field col s6">
        <label for="Imie">Imie</label>
        <input asp-for="Imie" type="text" class="validate">
        <span asp-validation-for="Imie"></span>
    </div>

    <div class="input-field col s6">
        <label for="Nazwisko">Nazwisko</label>
        <input asp-for="Nazwisko" type="text" class="validate">
        <span asp-validation-for="Nazwisko"></span>
    </div>

    <div class="input-field col s6">
        <label for="DataZatrudnienia">DataZatrudnienia</label>
        <input asp-for="DataZatrudnienia" type="date" class="validate">
        <span asp-validation-for="DataZatrudnienia"></span>
    </div>

    <div class="input-field col s6">
        <label for="DataOdejsciazPracy">DataOdejscia z Pracy</label>
        <input asp-for="DataOdejsciazPracy" type="date" class="validate">
        <span asp-validation-for="DataOdejsciazPracy"></span>
    </div>

    <div class="input-field col s6">
        <label for="Symbol">Symbol</label>
        <input asp-for="Symbol" type="text" class="validate">
        <span asp-validation-for="Symbol"></span>
    </div>

    <div class="input-field col s6">
        <label for="Email">Email</label>
        <input asp-for="Email" type="email" class="validate">
        <span asp-validation-for="Email"></span>
    </div>

    @* LISTY*@

    <div class="input-field col s6">
        <label for="Wydzial">Wydział</label>
        <div>
            <select asp-for="@Model.WydzialId" asp-items="@Model.Wydzials" class="validate"></select>
        </div>
        <span asp-validation-for="@Model.WydzialId"></span>
    </div>


    <div class="input-field col s6">
        <label for="Stanowiskos">Stanowiskos</label>
        <div>
            <select asp-for="@Model.StanowiskoId" asp-items="@Model.Stanowisko" class="validate"></select>
        </div>
        <span asp-validation-for="@Model.StanowiskoId"></span>
    </div>



    <div class="working-window_1">
        <button type="submit">Zapisz</button>
        <a href="/Projektor/PokazPracownikow" style="background-color: indianred">Wróć</a>
    </div>

</form>


