@model EditPracownik

<h1>Edytuj Pracownika</h1>

@*<form asp-action="EditPracownik"> ===================też OK
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id" />
    <div class="form-group">
        <label asp-for="Imie" class="control-label"></label>
        <input asp-for="Imie" class="form-control" />
        <span asp-validation-for="Imie" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nazwisko" class="control-label"></label>
        <input asp-for="Nazwisko" class="form-control" />
        <span asp-validation-for="Nazwisko" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataZatrudnienia" class="control-label"></label>
        <input asp-for="DataZatrudnienia" class="form-control" />
        <span asp-validation-for="DataZatrudnienia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataOdejsciazPracy" class="control-label"></label>
        <input asp-for="DataOdejsciazPracy" class="form-control" />
        <span asp-validation-for="DataOdejsciazPracy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Symbol" class="control-label"></label>
        <input asp-for="Symbol" class="form-control" />
        <span asp-validation-for="Symbol" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Wydzial" class="control-label"></label>
        <input asp-for="Wydzial" class="form-control" />
        <span asp-validation-for="Wydzial" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Stanowisko" class="control-label"></label>
        <input asp-for="Stanowisko" class="form-control" />
        <span asp-validation-for="Stanowisko" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="working-window_1">
        <button type="submit">Zapisz</button>
        <a href="/Projektor/PokazPracownikow" style="background-color: indianred">Wróć</a>
    </div>
</form>*@

@*============================*@
<form method="post">

    <div class="input-field col s6">
        <label for="Imie">Imie</label>
        <input asp-for="Imie" type="text" class="validate">
        <span asp-validation-for="Imie"></span>
    </div>

    <div class="input-field col s6">
        <label for="Nazwisko">Nazwisko</label>
        <input asp-for="Nazwisko" type="text" class="validate">
        <span asp-validation-for="Nazwisko"></span>
    </div>

    <div class="input-field col s6">
        <label for="DataZatrudnienia">DataZatrudnienia</label>
        <input asp-for="DataZatrudnienia" type="date" class="validate">
        <span asp-validation-for="DataZatrudnienia"></span>
    </div>

    <div class="input-field col s6">
        <label for="DataOdejsciazPracy">DataOdejscia z Pracy</label>
        <input asp-for="DataOdejsciazPracy" type="date" class="validate">
        <span asp-validation-for="DataOdejsciazPracy"></span>
    </div>

    <div class="input-field col s6">
        <label for="Symbol">Symbol</label>
        <input asp-for="Symbol" type="text" class="validate">
        <span asp-validation-for="Symbol"></span>
    </div>

    <div class="input-field col s6">
        <label for="Email">Email</label>
        <input asp-for="Email" type="text" class="validate">
        <span asp-validation-for="Email"></span>
    </div>

    @* LISTY*@

    <div class="input-field col s6">
        <label for="Wydzial">Wydział</label>
        <div>
            <select asp-for="@Model.WydzialId" asp-items="@Model.Wydzials" class="validate"></select>
        </div>
        <span asp-validation-for="@Model.WydzialId"></span>
    </div>


    <div class="input-field col s6">
        <label for="Stanowiskos">Stanowiskos</label>
        <div>
            <select asp-for="@Model.StanowiskoId" asp-items="@Model.Stanowisko" class="validate"></select>
        </div>
        <span asp-validation-for="@Model.StanowiskoId"></span>
    </div>



    <div class="working-window_1">
        <button type="submit">Zapisz</button>
        <a href="/Projektor/PokazPracownikow" style="background-color: indianred">Wróć</a>
    </div>

</form>


