@model TypsProjektViewModel

  <style>
    form {
        display: block;
        margin-top: 2em;        
    }
    input {
        margin: 0;
    }
    button {
        margin: 5px 0;
        background-color: rgb(120 147 187);
    }
  </style>
    <div class="working-window">
        <div class="working-window_1">
            <a href="create">Dodaj projekt</a>
            <a href="#">Usuń projekt</a>
            <a href="#">Edytuj projekt</a>
            <a href="/Projektor/Opcje" style="background-color: indianred">Wróć do wyboru opcji</a>     
        
            @*WYSZUKIWARKA*@
        </div>
        <form method="get">
            <label for="query">Nr projektu</label>
            <input type="text" id="query" name="query"/>
            <button type="submit">Szukaj</button>
        </form>


    @*TABELKA PROJEKTOW*@
    <table class="highlight striped">
        <thead>
            <tr style="font-weight: bold" >
                <td>Numer projektu</td>
                <td>Rok</td>                                
                <td>Data wpływu</td>
                <td>Uwagi</td>
                @*<td>Kontynuacja po projekcie (Id)</td>*@
                <td>Typ (id)</td>
                <td>Osoba prowadząca (Id)</td>
                <td>Status (Id)</td>                
                <td>Hiperlącze</td>
                <td>Usuń projekt</td>       
            </tr>
        </thead>
        <tbody>
            @foreach (var projekt in Model.ProjektORs)
            {              
                <tr>                   
                    <td>@projekt.NumerProjektu</td>
                    <td>@projekt.Rok</td>
                    <td>@projekt.DataWplywu</td>
                    <td>@projekt.Uwagi</td>
                    <td>@projekt.Typ.Value</td>
                   @* <td>@projekt.KontynuowaniePoProjekcie</td>*@
                    <td>@projekt.OsobaProwadzaca</td>
                    <td>@projekt.Status</td>                    
                    <td>
                        @*Jak dodać zmienną (wyciąć indeksy ze stringa/int np.: int x = 2021, int y = x[-2:])*@
                        <a href="https://umsw.sharepoint.com/:f:/r/sites/msteams_46c5f9_648647/Skany/Projekty/Projekty_IO/@projekt.Rok/@projekt.NumerProjektu-@projekt.Rok" class="button">Otwórz skan</a>
                    </td>
                    <td>
                        <form action="delete/@projekt.Id" method="post">
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="highlight striped">
        @foreach (var tt in Model.Typs)
        {
            <tr>
                <td>@tt.Typ</td>
            </tr>
            
        }
    </table>

    </div>

   